In [1]:
import numpy as np
import pandas as pd
import re
from tqdm import tqdm
import datetime as datetime

# Outcomes data

In [11]:
df_outcomes = pd.read_csv(r"C:\Users\20203721\Documents\Data Challenge 2\Data description\2019 - 2021 all data\2019-01\2019-01-avon-and-somerset-outcomes.csv")

In [12]:
df_outcomes.describe(include="all")

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Outcome type
count,2915,2915,2915,2915,2552.000000,2552.000000,2915,2552,2552,2915
unique,2550,1,1,1,NaN,NaN,1400,723,723,17
top,5dff116e940f3fa4fcd9406fd4ec5cbba6d67419da8663...,2019-01,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,E01033342,Bristol 025E,Investigation complete; no suspect identified
freq,8,2915,2915,2915,NaN,NaN,363,64,64,1338
mean,NaN,NaN,NaN,NaN,-2.694385,51.321547,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,0.236287,0.197334,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,-3.638804,50.614321,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,-2.928851,51.158469,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,-2.600664,51.407694,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,-2.547389,51.461995,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,-1.829333,53.758775,NaN,NaN,NaN,NaN

In [18]:
df_outcomes.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Outcome type
0,78040516850e7777c41f53736ce5b91629f962eb1e11be...,2019-01,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,NaN,NaN,Further investigation is not in the public int...
1,3acdf6262249ece2a458507b16340840f9f7c2fc565e75...,2019-01,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,NaN,NaN,Unable to prosecute suspect
2,fbfe5fbb589cc6129278e80434c5e392e25254c6af0491...,2019-01,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,NaN,NaN,Offender given a caution
3,08906ba76906e627b949954e4394b4c44c302d51e777df...,2019-01,Avon and Somerset Constabulary,Avon and Somerset Constabulary,-2.599081,51.502517,On or near WESTLEIGH ROAD,E01014689,Bristol 002B,Unable to prosecute suspect
4,992ec9c65bf8cace7709c0f16cd956bccd5d05350b6474...,2019-01,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,NaN,NaN,Investigation complete; no suspect identified

Crime ID - integer
Month - month in which crime was committed (YYYY-MM)
Reported by - The force that provided the data about the crime.
Falls within - The force that provided the data about the crime
Longitude - longitude of the crime (anonymised)
Latitude - latitude of the crime (anonymised)
Location - describes location where the crime occured.
LSOA code - The Lower Layer Super Output Area code that the anonymised point falls into.
LSOA name - The Lower Layer Super Output Area name that the anonymised point falls into.
Outcome type - Outcome of the crime. Newly added data is always empty.

# Stop and search data

In [24]:
df_s_and_s = pd.read_csv(r"C:\Users\20203721\Documents\Data Challenge 2\Data description\2019 - 2021 all data\2019-01\2019-01-avon-and-somerset-stop-and-search.csv", parse_dates = ['Date'])

In [26]:
df_s_and_s.describe(include='all')

C:\Users\20203721\AppData\Local\Temp/ipykernel_756/1251298788.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_s_and_s.describe(include='all')

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
count,519,519,0.0,0.0,359.000000,359.000000,506,498,452,450,492,490,467,157,485
unique,3,400,NaN,NaN,NaN,NaN,2,4,16,5,3,9,6,2,2
top,Person search,2019-01-05 23:00:00+00:00,NaN,NaN,NaN,NaN,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,True,False
freq,374,7,NaN,NaN,NaN,NaN,450,165,303,350,307,300,328,121,447
first,NaN,2019-01-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2019-01-31 23:42:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,51.321953,-2.695739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,0.181371,0.242283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,50.872945,-3.477966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,51.193877,-2.942224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,51.385851,-2.599645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,51.456887,-2.569497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,51.551716,-2.311272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_s_and_s.head()

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
0,Person search,2019-01-01T00:00:00+00:00,NaN,NaN,NaN,NaN,Male,18-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Person search,2019-01-01T00:00:00+00:00,NaN,NaN,NaN,NaN,Male,10-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Person search,2019-01-01T00:30:00+00:00,NaN,NaN,51.350977,-2.979701,Male,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Arrest,True,False
3,Person search,2019-01-01T01:35:00+00:00,NaN,NaN,51.471129,-2.589816,Male,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Article for use in theft,NaN,NaN,False
4,Person search,2019-01-01T01:35:00+00:00,NaN,NaN,51.471129,-2.589816,Male,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Article for use in theft,NaN,NaN,False