<a href="https://colab.research.google.com/github/S-Diemel/JBG050/blob/main/pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv("/content/drive/MyDrive/Data Challenge 2/data/burglary_data_city.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1, inplace=True)

df['year'] = df['year'].astype(int)
df['month'] = df['month'].astype(int)

df['year month'] = df['year'].astype(str) + '-'+ df['month'].astype(str)

df['year month'] = pd.to_datetime(df['year month'], format='%y-%m').apply(lambda x: x.strftime('%Y-%m'))

df.head()

,Longitude,Latitude,month,year,median house price,burglarys city,burglarys lsoa,city,year month
0,-0.252285,50.834953,12,10,290500.0,33.0,2.0,Adur,2010-12
1,-3.440349,54.698378,12,10,106500.0,34.0,2.5,Allerdale,2010-12
2,-1.388190,53.027519,12,10,157500.0,57.0,2.0,Amber Valley,2010-12
3,-0.635302,50.807425,12,10,265500.0,62.0,2.0,Arun,2010-12
4,-1.256562,53.105927,12,10,126500.0,78.0,2.0,Ashfield,2010-12

In [4]:
df.to_csv('/content/drive/MyDrive/Data Challenge 2/data/final_burglary_data_city.csv')