<a href="https://colab.research.google.com/github/S-Diemel/JBG050/blob/main/ARIMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from google.colab import files

Read datasets

In [5]:

from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv("/content/drive/MyDrive/Data Challenge 2/data/burglary_data_city.csv")

Mounted at /content/drive

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Longitude,Latitude,month,year,median house price,burglarys city,burglarys lsoa,city
0,0,29126.0,29126.0,-0.252285,50.834953,12.0,10.0,290500.0,33.0,2.0,Adur
1,1,2913.5,2913.5,-3.440349,54.698378,12.0,10.0,106500.0,34.0,2.5,Allerdale
2,2,3077.0,3077.0,-1.388190,53.027519,12.0,10.0,157500.0,57.0,2.0,Amber Valley
3,3,29173.5,29173.5,-0.635302,50.807425,12.0,10.0,265500.0,62.0,2.0,Arun
4,4,25441.5,25441.5,-1.256562,53.105927,12.0,10.0,126500.0,78.0,2.0,Ashfield